@model IEnumerable<AppEntity.Models.AppUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewData["Message"];


<div>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">Edit</a>
</div>
<div>
    @if (Model.Count() > 0)
    {
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Email)
                </th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayNameFor(m => item.Email)
                </td>
                <td>
                    <a class="btn btn-primary"  asp-action="Lock" asp-route-id="@item.Id"></a>
                </td>
            </tr>
            }

        </table>
    }

</div>

