<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link href="lib/@@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/css/style.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    @{await Html.RenderPartialAsync("_header");}
    <div class="app-body">
        @{await Html.RenderPartialAsync("_sidebar");}
        <main class="main">
            @RenderBody()
        </main>
        @{await Html.RenderPartialAsync("_asideMenu");}
    </div>
    @{await Html.RenderPartialAsync("_footer");}

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/pace-progress/pace.min.js"></script>
    <script src="lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="lib/@@coreui/coreui/dist/js/coreui.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="lib/chart.js/dist/Chart.min.js"></script>
    <script src="lib/@@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
