<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> EduNet
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> Admin
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> User
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Tutorials" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> Tutorial
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Blogs" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> Blog
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> Category
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>