<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BrainStorm</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li  routerLinkActive="active">
          <a  routerLink="home">Home</a>
        </li>
        <li  routerLinkActive="active">
          <a  routerLink="tutorial">Tutorial</a>
        </li>
        <li  routerLinkActive="active">
          <a  routerLink="blog">Blog</a>
        </li>
        <li routerLinkActive="active">
          <a  routerLink="about">About</a>
        </li>
        <li>
          <a routerLink="admin" target="_parent">Login</a>
        </li>
      </ul>
    </div>
  </nav>



  <router-outlet></router-outlet>
</div>

<footer style="margin-bottom: 100px"></footer>
